body {
    display: flex; 
    width: 100%;
    gap: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    align-items: center; /* perhaps not needed */
    justify-content: center;
}

#main-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; /* center */
    /*align-content: flex-start; */
    background-color: lightgray;
    width: 70%;
}

header {
   background-color: darkgray;
}

/* #header-image {
    max-width: 100%;
    clip-path: inset(400px 0px);
    margin: -400px 0 -400px 0;
} */

#header-image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    max-width: 89%;
}


#content-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2%;
    background-color: rgb(84, 236, 117);
}


main {
    /* grid-column: 2 / 4;
    grid-row: 2; */
    max-width: 60%;
    background-color: darkgray;
    height: 500px;
}


article {
    background-color: gray;
}

#section-footer {
    background-color: gray;
    font-size: x-large;
}

aside {
    background-color: rgb(240, 12, 12);
    align-content: flex-start;
    justify-content: flex-start;
    max-width: 20%;
    height: 500px;
    
}

#aside-left {
/*     grid-column: 1;
    grid-row: 2; */
    font-size: large;
    margin: 0 0 0 0; /* remove last semi colon? */
}

#aside-right {
    /* grid-column: 4;
    grid-row: 2; */
    margin: 0 0 0 0;
}

footer{
    /* grid-column: 1 / 5;  
    grid-row: 3;  */
    max-width: 82%;
    background-color: rgb(37, 8, 117);
    margin: 1% 0 0 9%;
    font-size: x-large;
}

#footer-text {
    padding: 0 0 0 20px;
}


h1 {
    background-color: white;
    margin-top: -0.1%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    .body {
      margin: 1em 2em;
    }
  }