/* want to use this but screws up the layout
:root {
    --main-bg-color: rgb(225, 225, 225);
    --sub-bg-color: rgb(185, 185, 185);
    */

body {
    display: flex; 
    width: 100%;
    gap: 10px;
    text-decoration: none;
    font-size: small;
    color: black;
    background-color: white;
    align-items: center; /* perhaps not needed */
    justify-content: center;
}

#main-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; /* center */
    /*align-content: flex-start; */
    background-color: rgb(225, 225, 225);
    width: 45%;
}

header {
   background-color: rgb(225, 225, 225);
}

/* #header-image {
    max-width: 100%;
    clip-path: inset(400px 0px);
    margin: -400px 0 -400px 0;
} */

#header-image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    max-width: 89%;
}


#content-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2%;
    background-color: rgb(225, 225, 225);

}


main {
    /* grid-column: 2 / 4;
    grid-row: 2; */
    max-width: 46%;
    background-color: rgb(225, 225, 225);
    height: 500px;
    display: flex;
    flex-direction: column;
    
}


article {
    background-color: rgb(180, 180, 180);
}

#article2 {
    margin-top: 20px;

}

#section-footer {
    background-color: rgb(180, 180, 180);
    font-size: x-large;
    margin-top: 42px;
}

aside {
    background-color: rgb(180, 180, 180);
    width: 14%;
    height: 500px;
    
}

.aside-container {
    position: relative;
    left: 10px;
}

#aside-left {
/*     grid-column: 1;
    grid-row: 2; */
    font-size: large;
    margin: 0 0 0 0; /* remove last semi colon? */
}

#aside-container-left {
    position: relative;
    top: 10px;
}

.nav-item {
    padding: 0 0 10px 0;
}
#aside-right {
    /* grid-column: 4;
    grid-row: 2; */
    margin: 0 0 0 0;
}

footer{
    /* grid-column: 1 / 5;  
    grid-row: 3;  */
    max-width: 78%;
    background-color: rgb(180, 180, 180);
    margin: 2% 0 0 11%;
    font-size: x-large;
}

#footer-text {
    padding: 0 0 0 20px;
}


h1 {
    background-color: rgb(180, 180, 180);
    margin-top: -0.1%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-bottom: 1%;
}

li {
    color:black;
    font-weight: bold;
    display: list-item;
    list-style: none;
    text-align: left; 
    list-style-position: outside; 
}
/*
a {
    text-decoration: none;
    color: black;     
    list-style-position: outside; 
}


ul {
    display: list-item;
    list-style: none;
    list-style-position: outside;

}

*/
hr { 
    width: 60px;
    margin: 20px 0 0 0;
    height: 2px;
    background-color:black;
    border: none;
}

/* 
@media screen and (min-width: 800px) {
    .body {
      margin: 1em 2em;
    }
  }
*/

/*
  /* for smartphone devices 
 @media screen and (max-width: 400px) {
    .body {
      margin: 1em 2em;
    }
  } 
 */